*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(0, 238, 255) ;
}
.box{
    border: 2px solid rgb(88, 236, 138);
    border-radius: 30px;
    height: 450px;
    width: 310px;
    background-color: #fff;
    margin:30px;
    margin-left: 18px;
    margin-right: 2px;
    display: inline-block;
}

.box .card .imagediv{
    text-align: center;
}

img {
    border-radius: 60%;
    height: 170px;
    width: 170px;
    padding-top: 10px;
}

.box .card-body h1{
    padding-top: 20px;
    text-align: center;
}

.box .card-body p{
    font-size: 18px;
    text-align: center;
    padding-top: 30px;
    color: #999;
}

.box .card-body h6{
    font-size: 16px;
    text-align: center;
    padding-top: 20px;
}

.icons {
    padding-top: 15px;
    text-align: center;
    font-size: 15px;
}

.contact button{
    background-color: black;
    color: white;
    font-size: 19px;
    height: 35px;
    width: 200px;
    margin-top: 15px;
    margin-left: 55px;
    padding: 3px;
    border-radius: 45px;
}

.box-2{
    border: 2px solid rgb(88, 236, 138);
    border-radius: 30px;
    height: 450px;
    width: 310px;
    background-color: #fff;
    margin:30px;
    margin-left: 15px;
    margin-right: 8px;
    display: inline-block;
}

.box-2 .card .imagediv{
    text-align: center;
}

img {
    border-radius: 60%;
    height: 170px;
    width: 170px;
    padding-top: 10px;
}

.box-2 .card-body h1{
    padding-top: 20px;
    text-align: center;
}

.box-2 .card-body p{
    font-size: 18px;
    text-align: center;
    padding-top: 30px;
    color: #999;
}

.box-2 .card-body h6{
    font-size: 16px;
    text-align: center;
    padding-top: 20px;
}

.icons {
    padding-top: 15px;
    text-align: center;
    font-size: 15px;
}

.contact button{
    background-color: black;
    color: white;
    font-size: 19px;
    height: 35px;
    width: 200px;
    margin-top: 15px;
    margin-left: 55px;
    padding: 3px;
    border-radius: 45px;
}

.box-3{
    border: 2px solid rgb(88, 236, 138);
    border-radius: 30px;
    height: 450px;
    width: 310px;
    background-color: #fff;
    margin:30px;
    margin-left: 10px;
    margin-right: 8px;
    display: inline-block;
}

.box-3 .card .imagediv{
    text-align: center;
}

img {
    border-radius: 60%;
    height: 170px;
    width: 170px;
    padding-top: 10px;
}

.box-3 .card-body h1{
    padding-top: 20px;
    text-align: center;
}

.box-3 .card-body p{
    font-size: 18px;
    text-align: center;
    padding-top: 30px;
    color: #999;
}

.box-3 .card-body h6{
    font-size: 16px;
    text-align: center;
    padding-top: 20px;
}

.icons {
    padding-top: 15px;
    text-align: center;
    font-size: 15px;
}

.contact button{
    background-color: black;
    color: white;
    font-size: 19px;
    height: 35px;
    width: 200px;
    margin-top: 15px;
    margin-left: 55px;
    padding: 3px;
    border-radius: 45px;
}

.box-4{
    border: 2px solid rgb(88, 236, 138);
    border-radius: 30px;
    height: 450px;
    width: 310px;
    background-color: #fff;
    margin:30px;
    margin-left: 10px;
    margin-right: 15px;
    display: inline-block;
}

.box-4 .card .imagediv{
    text-align: center;
}

img {
    border-radius: 60%;
    height: 170px;
    width: 170px;
    padding-top: 10px;
}

.box-4 .card-body h1{
    padding-top: 20px;
    text-align: center;
}

.box-4 .card-body p{
    font-size: 18px;
    text-align: center;
    padding-top: 30px;
    color: #999;
}

.box-4 .card-body h6{
    font-size: 16px;
    text-align: center;
    padding-top: 20px;
}

.icons {
    padding-top: 15px;
    text-align: center;
    font-size: 15px;
}

.contact button{
    background-color: black;
    color: white;
    font-size: 19px;
    height: 35px;
    width: 200px;
    margin-top: 15px;
    margin-left: 55px;
    padding: 3px;
    border-radius: 45px;
}